body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 20px;
  background-color: black;
  border-radius: 20px;
  color: aliceblue;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

#arii {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  color: white;
  background: #e7c7af;
  padding: 3px;
  border-radius: 25px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.arii-button {
  background-color: #8196af;
  border-radius: 25px;
  padding: 8px 15px;
}

#arii:hover {
  transform: translate(-15px, -15px);
  transition: 300ms ease-in-out;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.wrapper > p {
  margin: 0px;
  font-weight: bold;
}

.iframe-container {
  position: absolute;
  bottom: 100px;
  right: 10px;
  background-color: #fafafa;
  width: 360px;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  border: 1px solid black;
  opacity: 0;
}

.top-bar > img {
  width: 20px;
  cursor: pointer;
}

.top-bar {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: none;
}

.show-iframe {
  opacity: 1;
  transition: all 500ms ease-in-out;
}

.maximize-iframe {
  width: 60vw;
  height: 60vh;
}

@media screen and (max-width: 600px) {
  .iframe-container {
    width: 94vw;
    height: 80vh;
  }

  #maximize {
    display: none;
  }
}
